---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Graphical Authentication System">
	<main class="flex flex-col p-4">
		<div class="flex justify-center">
			<h1>Graphical Authentication System</h1>
		</div>
		<div class="flex justify-center p-4">
			<a href="/register" class="p-4">Register</a>
			<a href="/login" class="p-4">Login</a>
		</div>
	</main>
</Layout>
